<div class="details">
  <!-- Ideally there'd be an embedded video here but it seems that will only work over https :( -->
  <img class="thumbnail" src="<%= details.thumbnail %>" alt="thumbnail">
  <% if (details.title) { %>
    <div class="detail"><b>Title:</b> <%= details.title %></div>
  <% } %>
  <% if (details.channel) { %>
    <div class="detail"><b>Channel:</b> <%= details.channel %></div>
  <% } %>
  <% if (details.duration) { %>
    <div class="detail"><b>Duration:</b> <%= details.duration %></div>
  <% } %>
  <% if (details.track) { %>
    <div class="detail"><b>Song:</b> <%= details.track %></div>
  <% } %>
  <% if (details.artist) { %>
    <div class="detail"><b>Artist:</b> <%= details.artist %></div>
  <% } %>
  <% if (details.album) { %>
    <div class="detail"><b>Album:</b> <%= details.album %></div>
  <% } %>
  <% if (details.description) { %>
    <div class="detail keep-newlines"><b>Description:</b>
      <%= details.description %>
    </div>
  <% } %>
  <% if (details.entries) { %>
    <hr>
    <%- include('list', { list: details }) %>
  <% } %>
</div>
