<%- include('head') %>

<div class="home-link">Back to <a href="/">home</a></div>

<div class="ready-container">
  <form action="/download">
    <h1>Download <%= (details && details.type) || 'by URL' %></h1>
    <div>
      <label for="url">Youtube URL</label>
      <input type="url" id="url" name="url" value="<%= url %>" class="wide" autofocus required>
    </div>
    <div>
      <label for="format">Format</label>
      <input type="text" id="format" name="format" value="best" class="wide">
    </div>
    <div>
      <input type="checkbox" id="addMeta" name="addMeta" checked>
      <label for="addMeta">Include metadata (tags)</label>
    </div>
    <div>
      <input type="checkbox" id="audioOnly" name="audioOnly" checked>
      <label for="audioOnly">Audio only</label>
    </div>
    <div>
      <input type="checkbox" id="ignoreErrors" name="ignoreErrors">
      <label for="ignoreErrors">Ignore errors (e.g. skip unavailable videos)</label>
    </div>
    <div>
      <button type="submit">Download</button>
    </div>
  </form>

  <% if (details) { %>
  <div>
    <h2><%= details.type.charAt(0).toUpperCase() + details.type.slice(1) %> details</h2>
    <%- include('details', { details }) %>
  </div>
  <% } %>
</div>
