<%- include('head') %>

<div class="home-link">Back to <a href="/">home</a></div>

<div class="ready-container">
  <form action="/download">
    <h1>Download <%= (details && details.type) || 'by URL' %></h1>
    <div>
      <label for="url">Youtube URL</label>
      <input type="url" id="url" name="url" value="<%= url %>" class="wide" autofocus required>
    </div>
    <div class="ready-option-fields">
      <div>
        <label for="format" class="block">Format</label>
        <input type="text" id="format" name="format" value="best" class="wide">
      </div>
      <div>
        <label for="playlist-items" class="block">Playlist selection</label>
        <input type="text" id="playlist-items" name="playlist-items" placeholder="e.g. 2,4-6,9" class="wide">
      </div>
    </div>
    <div>
      <input type="checkbox" id="add-meta" name="add-meta" checked>
      <label for="add-meta">Include metadata (tags)</label>
    </div>
    <div>
      <input type="checkbox" id="audio-only" name="audio-only" checked>
      <label for="audio-only">Audio only</label>
    </div>
    <div>
      <input type="checkbox" id="ignore-errors" name="ignore-errors">
      <label for="ignore-errors">Ignore errors (e.g. skip unavailable videos)</label>
    </div>
    <div>
      <button type="submit">Download</button>
    </div>
  </form>

  <% if (details) { %>
  <div>
    <h2><%= details.type.charAt(0).toUpperCase() + details.type.slice(1) %> details</h2>
    <%- include('details', { details }) %>
  </div>
  <% } %>
</div>
