<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/styles.css">

<title>Thief</title>

<div>
  <p>Back to <a href="/">home</a></p>
</div>

<div>
  <% json.items.forEach(function(item) { %>
  <div class="search-result <% if (item.id.kind === 'youtube#playlist') { %>playlist<% } %>">
    <div class="preview">
      <img src="<%= item.snippet.thumbnails.default.url %>" alt="thumbnail">
      <div class="info">
        <%# youtube search api seems to html-escape title and channelTitle already %>
        <div class="title">
          <%- item.snippet.title %>
        </div>
        <div class="channel">
          <%- item.snippet.channelTitle %>
        </div>
        <div class="actions">
          <form action="/ready" method="post">
            <% if (item.id.kind === 'youtube#playlist') { %>
            <input type="hidden" name="url" value="https://www.youtube.com/playlist?list=<%= item.id.playlistId %>">
            <% } else { %>
            <input type="hidden" name="url" value="https://youtu.be/<%= item.id.videoId %>">
            <% } %>
            <button type="submit">
              Download
              <% if (item.id.kind === 'youtube#playlist') { %>
              playlist
              <% } %>
            </button>
            <button type="button"
                    class="get-more-info"
                    data-type="<%= item.id.kind.replace('youtube#', '') %>"
                    data-id="<%= item.id.videoId || item.id.playlistId %>">
              More info<noscript> (requires javascript)</noscript>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="more-info hidden" data-id="<%= item.id.videoId || item.id.playlistId %>">
    </div>
  </div>
  <hr>
  <% }) %>
</div>

<script src="/assets/search.js"></script>
